/* ----- style.css ----- */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
}
svg path {
    fill: #a21212;
    stroke: #eee;
    stroke-width: .25;
}
svg path:hover {
    fill: #fa0000;
    transition: fill 0.6s ease;
    cursor: pointer;
}
